* {
  margin: 0;
  padding: 0;
}
.Header {
  background-color: gray;
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.Logo {
  grid-area: 1 / 1 / 2 / 2;
}
.title {
  text-align: center;
  align-self: center;
  grid-area: 1 / 2 / 2 / 3;
}
