@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

.games-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#global-div {
  background: no-repeat url(wallpaper2.jpg) center/cover;
}
