#list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 40px;
}

#game {
  margin: 10px;
  padding: 10px;
  border: solid 0px black;
  border-radius: 5px;
  height: 300px;
  width: 412px;
  display: flex;
  flex-wrap: wrap;
}

#game-image {
  width: 100%;
}

#game-name {
  height: 25px;
  display: none;
}

#game:hover {
  cursor: pointer;
  transition: 500ms;
  transform: scale(1.1);
  z-index: 10;
}

#game:hover #game-name {
  display: flex;
}
