* {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

#sidebar {
  margin: 30px;
  width: 150px;
}

.submenu {
  display: none;
}

.roll:hover {
  background-color: blueviolet;
  color: antiquewhite;
}

.roll:hover .submenu {
  display: block;
  background-color: blueviolet;
  color: antiquewhite;
  margin-left: 30px;
}
